[run]
source = arris_modem_status
omit = 
    */tests/*
    */test_*
    setup.py
    arris_modem_status/__main__.py
branch = true

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\\bProtocol\\):
    @(abc\\.)?abstractmethod

show_missing = true
precision = 2

[html]
directory = htmlcov
